<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <h3>Thêm công việc mới</h3>
                    </div>
                    <!--end::Search-->
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
               <div class="row">
                    <div class="form-group">
                        <label for="">Họ</label>
                        <input type="text" class="form-control" name="firstName">
                    </div>
                    <div class="form-group">
                        <label for="">Tên</label>
                        <input type="text" class="form-control " name="lastName">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control " name="email">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="">Mật khẩu</label>
                        <input type="text" class="form-control " name="passWord">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="">Ngày sinh</label>
                        <input type="date" class="form-control " name="dateOfBirth">
                    </div>
                    <div class="form-group mt-2">
                        <button id="saveData" class="btn btn-primary">Hoàn thành</button>
                    </div>
               </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>

@section Javascript {
    <script>
        $(document).ready(function () {
            $('#saveData').click(async function () {
                let password = $('input[name="passWord"]').val();
                let email = $('input[name="email"]').val();

                let passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/;
                if (!passwordRegex.test(password)) {
                        $('input[name="passWord"]').next('.fv-plugins-message-container.invalid-feedback').text("Mật khẩu phải từ 6 ký tự trở lên, bao gồm chữ và số, và có ít nhất 1 chữ viết hoa.");
                    return;
                }

                let emailRegex = /^[^\s@@]+\@@[^\s@@]+\.[^\s@@]+$/;

                if (!emailRegex.test(email)) {
                         $('input[name="email"]').next('.fv-plugins-message-container.invalid-feedback').text("Email phải có định dạng hợp lệ.");
                  return;
                }
                const data = {
                    firstName: $('input[name="firstName"]').val(),
                    lastName: $('input[name="lastName"]').val(),
                    email: email,
                    passWord: password,
                    dateOfBirth: $('input[name="dateOfBirth"]').val(),
                };
                console.log(data);
                // ajax
                await $.ajax({
                    url: '/Administrator/Users/Create',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function (res) {
                        console.log(res);
                        if (res.success) {
                            Swal.fire({
                                title: 'Thành công',
                                text: 'Thêm mới thành công',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '/Administrator/Users';
                                }
                            })
                        }
                        else {
                            Swal.fire({
                                title: 'Lỗi',
                                text: res.message,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            })
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            });

        });

    </script>
}
